{% extends 'base.html.twig' %}

{% block title %}AirAtlantique{% endblock %}


{% block body %}

            <nav>
                <div class="nav-wrapper white">
                    <a href="{{ path('home') }}"><img id="logo" width="150" src="\Images\logof.JPG"></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down white">
                        <li><a href="{{ path('achat_bille') }}" class="black-text"><i class="material-icons left red-text">flight_takeoff</i>ACHETER UN BILLET</a></li>
                        <li><a href="{{ path('client_connexion') }}" class="black-text"><i class="material-icons left red-text">perm_identity</i>MES RESERVATIONS</a></li>
                        <li><a href="{{ path('client_connexion') }}" class="black-text"><i class="material-icons left red-text">perm_identity</i>MON COMPTE</a></li>
                        </ul>
                </div>
            </nav>
    	 
{% endblock %}
