{% extends 'base.html.twig' %}

{% block title %}Connexion - AirAtlantique{% endblock %}


{% block body %}

<link rel="stylesheet" href="/css/connexion.css" media="screen" type="text/css" />

            <nav>
                <div class="nav-wrapper white">
                    <a href="{{ path('home') }}"><img id="logo" width="150" src="\Images\logof.JPG"></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down white">
                        <li><a href="{{ path('reservation') }}" class="black-text"><i class="material-icons left red-text">flight_takeoff</i>ACHETER UN BILLET</a></li>
                        <li><a href="{{ path('client_connexion') }}" class="black-text"><i class="material-icons left red-text">perm_identity</i>MON COMPTE</a></li>
                        </ul>
                </div>
            </nav>
            <div id="container-login">
            <form  action="{{ path('client_connexion')}}" method="post">
                    <label><b>Nom d'utilisateur<b></label>
                    <input placeholder="Adresse Mail" required name="_email" type="text" >
                
                    <label><b>Mot de passe<b></label>
                    <input placeholder="Mot de passe" required name="_password" type="password" >
                
                
                    <button id="submit" type="submit" >Se Connecter</button>

            </form>
            <div class="form-group">
               <a href="{{path('client_inscription')}}">Inscription</a>
            </div>
        </div>

{% endblock %}
