{% extends 'base.html.twig' %}

{% block title %}AirAtlantique - Reservation{% endblock %}

{% block body %}

<link rel="stylesheet" href="/css/Recherche.css" media="screen" type="text/css" />

            <nav>
                <div class="nav-wrapper white">
                    <a href="{{ path('home') }}"><img id="logo" width="150" src="\Images\logof.JPG"></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down white">
                        <li><a href="{{ path('reservation') }}" class="black-text"><i class="material-icons left red-text">flight_takeoff</i>ACHETER UN BILLET</a></li>
                        <li><a href="{{ path('client_connexion') }}" class="black-text"><i class="material-icons left red-text">perm_identity</i>MON COMPTE</a></li>
                        </ul>
                </div>
            </nav>

                {{form_start(form)}}

				    <div class="form">
					
					    <h3>Rechercher un vol pour vos prochaines vacances</h3>
					    
                        <div class="form-Rech">

						    {{form_row(form.ville,  { attr: { 'placeholder' : 'Ville de Départ', 'label': 'ville', 'class': 'villeDe' } })}}
						    {{form_row(form.ville, { attr: { 'placeholder' : "Ville d'arriver", 'label': 'ville', 'class': 'villeAr' } })}}
                            {# {{form_row(form.vols.dateDepart, { attr: { 'placeholder' : "Jour du départ"} })}} #}

                            {{form_row(form.save, { attr : {'class':'button'}})}}

					    </div>

                {{ form_end(form) }}

                </div>
                    
{% endblock %}
