{% extends 'base.html.twig' %}

{% block title %}Acheter - AirAtlantique{% endblock %}

{% block body %}

<link rel="stylesheet" href="/css/achat.css" media="screen" type="text/css" />

            <nav>
                <div class="nav-wrapper white">
                    <a href="{{ path('home') }}"><img id="logo" width="150" src="\Images\logof.JPG"></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down white">
                        <li><a href="{{ path('reservation') }}" class="black-text"><i class="material-icons left red-text">flight_takeoff</i>ACHETER UN BILLET</a></li>
                        <li><a href="{{ path('client_connexion') }}" class="black-text"><i class="material-icons left red-text">perm_identity</i>MON COMPTE</a></li>
                        </ul>
                </div>
            </nav>


		<div class="inner">
			{{form_start(form)}}
				<div class="form">
					
					<h3>ACHETEZ VOTRE BILLET</h3>
					<div class="form-aller">

						{{form_row(form.allerSimple,  { attr: { 'class':'checkbox'  } })}}
						{{form_row(form.allerRetour, { attr: { 'class':'checkbox' } })}}
						
					</div>
						
					<div class="form-ville">

						{{form_row(form.depart, { attr: { 'placeholder' : 'Aéroport de Depart' ,'label': 'depart', 'class': 'depart' } })}}
						{{form_row(form.arrive, { attr: { 'placeholder' : 'Aéroport d Arrive' ,'label': 'arrive', 'class': 'arrive'}})}}

					</div>

					<div class="form-date">

                    {{form_row(form.dateDepart, { attr: { 'label': 'dateDepart', 'class': 'datepicker'}})}}
					{{form_row(form.dateRetour, { attr: { 'label': 'dateRetour', 'class': 'datepicker'}})}}

					</div>
					
					<div class="form-pascla"> 

						{{form_row(form.passage)}}
                        {{form_row(form.classe)}}

					</div> 

					{{form_row(form.save, { attr: {'class':'reserve'}})}}

				</div>
				{{ form_end(form) }}
			</div>
		</div>
			
			



<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function() {
    		var elems = document.querySelectorAll('.datepicker');
    		var instances = M.Datepicker.init(elems, options);
  			});



    $.datepicker.regional['fr'] = {
        monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',	'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
        monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun','Jul','Aoû','Sep','Oct','Nov','Déc'],
        dayNames: ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'],
        dayNamesShort: ['Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam', 'Dim'],
        dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
		dateFormat: 'dd/mm/yy'
    }
	$.datepicker.setDefaults($.datepicker.regional['fr']);

</script>

<script type="text/jquery">
  $( function() {
    var availableTags = [
      "Ainsworth",
      "Antigua",
      "Antwerp",
      "Annapolis",
      "Aniak",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>

			

{% endblock %}
