{% extends 'base.html.twig' %}

{% block title %}Inscription - AirAtlantique{% endblock %}

{% block body %}

<link rel="stylesheet" href="/css/inscription.css" media="screen" type="text/css" />

            <nav>
                <div class="nav-wrapper white">
                    <a href="{{ path('home') }}"><img id="logo" width="150" src="\Images\logof.JPG"></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down white">
                        <li><a href="{{ path('reservation') }}" class="black-text"><i class="material-icons left red-text">flight_takeoff</i>ACHETER UN BILLET</a></li>
                        <li><a href="{{ path('client_connexion') }}" class="black-text"><i class="material-icons left red-text">perm_identity</i>MON COMPTE</a></li>
                        </ul>
                </div>
            </nav>

            <div class="container" style="background-image: url('images/apar.jpg');">
			<div class="row">
			{{form_start(form)}}
				<div class="form">
					
					<h3>Créer Votre Compte</h3>
					<div class="form-Use">

						{{form_row(form.nom,  { attr: { 'placeholder' : 'Nom' ,'label': 'nom', 'class': 'nom' } })}}
						{{form_row(form.prenom, { attr: { 'placeholder' : 'Prénom' ,'label': 'prenom', 'class': 'prenom' } })}}
                        {{form_row(form.civilite)}}
						
					</div>
						
					<div class="form-Date">

						{{form_row(form.dateDeNaissance, { attr: { 'placeholder' : 'Votre date de Naissance' ,'label': 'dateDeNaissance', 'class': 'datepicker' } })}}

					</div>

					<div class="form-mail">
                    {{form_row(form.email, { attr: { 'placeholder' : 'exemple@xy.com' ,'label': 'email', 'class': 'email'}})}}
					</div>
					
					 <div class="form-Addre"> 

						{{form_row(form.adresse, { attr: { 'placeholder' : 'Votre Adresse' ,'label': 'adresse', 'class': 'adresse' } })}}
                        {{form_row(form.ville, { attr: { 'placeholder' : 'La Ville' ,'label': 'ville', 'class': 'ville' } })}}
						{{form_row(form.codePostale, { attr: { 'placeholder' : 'Le code postal' ,'label': 'postal', 'class': 'postal' } })}}

					 </div> 
					<div class="form-mdp">

						{{form_row(form.password, { attr: { 'placeholder' : 'Mot de Passe' ,'label': 'Mot De Passe', 'class': 'mdp' }})}}

					</div>

					{{form_row(form.save)}}

				</div>
				{{ form_end(form) }}
			</div>
		</div>



{% endblock %}
