@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/poppins/Poppins-Regular.ttf"); }
  @font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/poppins/Poppins-SemiBold.ttf"); }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  body {
    font-family: "Poppins-Regular";
    background-image: url(../images/blue.jpg);
    color: #000000;
    font-size: 13px;
    margin: 0; }
  
  input, textarea, select, button {
    font-family: "Poppins-Regular";
    color: #ff1a1a;
    font-size: 13px; }
  
  p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    color: #000000; }
  
  img {
    max-width: 100%; }
  
  ul {
    padding-left: 0;
    margin-bottom: 0; }

  ::placeholder{
      color: #b3b3b3;
  }
.wrapper {
    min-height: calc(100vh - 80px);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center; }
  
.inner {
    border: 1px solid #000000;
    background: #fff;
    max-width: 950px;
    margin-top: 1%;
}

.inner .image-holder {
      width: 50%; 
}

.inner form {
      padding-top: 36px;
      padding-left: 45px;
      padding-right: 45px; 
}

.inner h3 {
      text-transform: uppercase;
      font-size: 25px;
      font-family: "Poppins-SemiBold";
      text-align: center;
      margin-bottom: 28px; 
}
label{
color :#000000 !important;
}
.reserve{
  background-color: #e60000 !important;
  color: black !important;
  padding: 14px 20px !important;
  border: none !important;
  cursor: pointer !important;
  width: 25% !important;
} 
  