body{
    background-image: url(../images/oceans.jpg);
}
#container-login{
    /* width:400px; */
    margin:0 auto;
}
b, h1{
    color: #000000;
}
::placeholder{
    color: #bfbfbf;
}

form {
    width:35%;
    margin-left: 35%;
    margin-top: 5%;
    padding: 30px;
    border: 1px solid #000000;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
label{
    color: #000000 !important;
    width:400px !important;
    margin:0 auto !important;
    margin-top:10% !important;
    text-align: center !important;
}

#ok{
    color: #e78a0e !important;
    text-align: center !important;
    font-size: 150% !important;
}
button{
    background-color: #e60000 !important;
    color: black !important;
    padding: 14px 20px !important;
    margin: 8px 24% !important;
    border: none !important;
    cursor: pointer !important;
    width: 50% !important;
}

#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}
input[type=text], input[type=password] {
    width: 100% !important;
    color: #e60000 !important;
    margin: 8px 0 !important;
    display: inline-block !important;
    box-sizing: border-box !important;
}
input[type=submit] {
    background-color: #e60000 !important;
    color: black !important;
    padding: 14px 20px !important;
    margin: 8px 0 !important;
    border: none !important;
    cursor: pointer !important;
    width: 100% !important;
}
input[type=submit]:hover {
    background-color: #e60000 !important;
    color: #000000 !important;
    border: 1px solid #000000 !important;
}
#inscription{

    position: relative !important;
    color: #bfbfbf !important;
    text-align: center !important;
    font-size: 150% !important;
    margin-right: 200px !important;

}
a{
    color : black;
}