
  .carousel-item{
    width: 100vh;
    min-height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
    display: block;
    transform: translateY(0px) !important;
}
.carousel-item active{
    width: 100vh;
    min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
    display: block;
    transform: translateY(0px) !important;
}
.carousel {
  z-index: 1;
  min-width: 100vh;
  overflow: visible !important;
  /* min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px); */
  height: auto !important;
}

img{
  
}
.container{
  width: 100%;
  height: auto;
}
.div-carousel{
  z-index: 50;
  width: 100%;
  height: 100%;
}
.container{
  max-width: 100%;
  max-height: 100%;
}