@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/poppins/Poppins-Regular.ttf"); }
  @font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/poppins/Poppins-SemiBold.ttf"); }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
  body {
    font-family: "Poppins-Regular";
    background-image: url(../images/apar.jpg);
    color: #000000;
    font-size: 13px;
    margin: 0; 
}
.container {
  background: white;
  padding: 20px 25px;
  border: 5px solid #ff1a1a;
  width: 550px;
  height: auto;
  box-sizing: border-box;
  position: relative;
}
[type="radio"]:not(:checked), [type="radio"]:checked {
  opacity: 1;
}
  
  input, textarea, select, button {
    font-family: "Poppins-Regular";
    color: #ff1a1a;
    font-size: 13px; }
  
  p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    color: #000000; }
  
  img {
    max-width: 100%; }
  
  ul {
    padding-left: 0;
    margin-bottom: 0; }
  .Mail{
    color: #b3b3b3;
  }
  a:hover {
    text-decoration: none; }
  
  :focus {
    outline: none; }

  ::placeholder{
      color: #b3b3b3;
  }

  .nom[type=text], .nom[type=password] {
    width: 100% !important;
    color: #ff1a1a !important;
    margin: 8px 0 !important;
    display: inline-block !important;
    box-sizing: border-box !important;
}
.nom[type=submit] {
    background-color: #ff1a1a !important;
    color: white !important;
    padding: 14px 20px !important;
    margin: 8px 0 !important;
    border: none !important;
    cursor: pointer !important;
    width: 100% !important;
}
.nom[type=submit]:hover {
    background-color: white !important;
    color: #000000 !important;
    border: 1px solid #000000 !important;
}

.prenom[type=text], .prenom[type=password] {
  width: 100% !important;
  color: #ff1a1a !important;
  margin: 8px 0 !important;
  display: inline-block !important;
  box-sizing: border-box !important;
}
.prenom[type=submit] {
  background-color: #000000 !important;
  color: white !important;
  padding: 14px 20px !important;
  margin: 8px 0 !important;
  border: none !important;
  cursor: pointer !important;
  width: 100% !important;
}
.prenom[type=submit]:hover {
  background-color: white !important;
  color: #000000 !important;
  border: 1px solid #000000 !important;
}


.Mail[type=text], .Mail[type=password] {
width: 100% !important;
color: #b3b3b3 !important;
margin: 8px 0 !important;
display: inline-block !important;
box-sizing: border-box !important;
}
.Mail[type=submit] {
background-color: #000000 !important;
color: white !important;
padding: 14px 20px !important;
margin: 8px 0 !important;
border: none !important;
cursor: pointer !important;
width: 100% !important;
}
.Mail [type=submit]:hover {
background-color: white !important;
color: #000000 !important;
border: 1px solid #000000 !important;
}

.mdp[type=text], .mdp[type=password] {
width: 100% !important;
color: #b3b3b3 !important;
margin: 8px 0 !important;
display: inline-block !important;
box-sizing: border-box !important;
}
.mdp[type=submit] {
background-color: #000000 !important;
color: white !important;
padding: 14px 20px !important;
margin: 8px 0 !important;
border: none !important;
cursor: pointer !important;
width: 100% !important;
}
.mdp[type=submit]:hover {
background-color: white !important;
color: #1f3c88 !important;
border: 1px solid #000000 !important;
}
  
  .wrapper {
    min-height: calc(100vh - 80px);
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex; */
    align-items: center; }
  
  .inner {
    padding: 20px;
    border: 1px solid #000000;
    background: #fff;
    max-width: 950px;
    margin: auto;
    margin-top: 1%;
    display: flex; }
    .inner .image-holder {
      width: 50%; }
    .inner form {
      /* width: 50%; */
      padding-top: 36px;
      padding-left: 45px;
      padding-right: 45px; }
    .inner h3 {
      text-transform: uppercase;
      font-size: 25px;
      font-family: "Poppins-SemiBold";
      text-align: center;
      margin-bottom: 28px; }
  

        .form-Date {
          display: flex;
        color: #b3b3b3 }
          .form-Date input {
            width: 50%; }
            .form-Date :first-child {
              margin-right: 100px !important; }

              .form-Addre {
                display: flex; }
                .form-Addre input {
                  width: 50%; }
                  .form-Addre :first-child {
                    margin-right: 129px !important; }
  .form-control {
    border: 1px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0;
    margin-bottom: 25px; }
    .form-control::-webkit-input-placeholder {
      font-size: 13px;
      color: #333;
      font-family: "Poppins-Regular"; }
    .form-control::-moz-placeholder {
      font-size: 13px;
      color: #333;
      font-family: "Poppins-Regular"; }
    .form-control:-ms-input-placeholder {
      font-size: 13px;
      color: #333;
      font-family: "Poppins-Regular"; }
    .form-control:-moz-placeholder {
      font-size: 13px;
      color: #333;
      font-family: "Poppins-Regular"; }
  

#utilisateur_save {
border: none !important;
width: 200px !important;
height: 51px !important;
margin: auto !important;
margin-top: 40px !important;
cursor: pointer !important;
display: flex !important;
align-items: center !important;
justify-content: center !important;
padding: 0 !important;
background: #000000 !important;
font-size: 15px !important;
color: #e78a0e !important;
vertical-align: middle !important;
-webkit-transform: perspective(1px) translateZ(0) !important;
transform: perspective(1px) translateZ(0) !important;
-webkit-transition-duration: 0.3s !important;
transition-duration: 0.3s !important; 
} 

label{
color :#000000 !important;
}

#utilisateur_save i {
  margin-left: 10px !important;
  -webkit-transform: translateZ(0) !important;
  transform: translateZ(0) !important; }
  #utilisateur_save:hover i, #utilisateur_save:focus i, #utilisateur_save:active i {
  -webkit-animation-name: hvr-icon-wobble-horizontal !important;
  animation-name: hvr-icon-wobble-horizontal !important;
  -webkit-animation-duration: 1s !important;
  animation-duration: 1s !important;
  -webkit-animation-timing-function: ease-in-out !important;
  animation-timing-function: ease-in-out !important;
  -webkit-animation-iteration-count: 1 !important;
  animation-iteration-count: 1 !important; }
  
  @-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px); }
    33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px); }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px); }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px); }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px); }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0); } }
  @keyframes hvr-icon-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px); }
    33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px); }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px); }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px); }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px); }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0); } }
  @media (max-width: 1199px) {
    .wrapper {
      background-position: right center; } }
  @media (max-width: 991px) {
    .inner form {
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 767px) {
    .inner {
      display: block; }
      .inner .image-holder {
        width: 100%; }
      .inner form {
        width: 100%;
        padding: 40px 0 30px; }
  
    button {
      margin-top: 60px; } }
  