@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/poppins/Poppins-Regular.ttf"); }
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/poppins/Poppins-SemiBold.ttf"); }



.form-Rech{
    
      min-height: calc(100vh - 500px);
      background-size: cover;
      background-repeat: no-repeat;
      align-items: center; 
    }
    
.form-Rech {
  padding: 20px;
  border: 1px solid red;
  background: #fff;
  max-width: 900px;
  margin: auto;
  margin-top: 1%;
}

.form-Rech .image-holder {
  width: 50%; 
}

.form-Rech form {
        /* width: 50%; */
  padding-top: 36px;
  padding-left: 45px;
  padding-right: 45px; 
}

.form-Rech h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Poppins-SemiBold";
  text-align: center;
  margin-bottom: 28px; 
}

h3{text-align: center;}

.button {
      background-color: #e60000 !important;
      color: black !important;
      padding: 14px 20px !important;
      margin: 10px 24% !important;
      border: none !important;
      cursor: pointer !important;
      width: 50% !important;
  }
.villeDe{
  color: #ff1a1a !important;
  font-family: "Poppins-Regular";
}


.villeAr{
  color: #ff1a1a !important;
  font-family: "Poppins-Regular";
}

input, textarea, select, button {
  font-family: "Poppins-Regular";
  color: #ff1a1a;
  font-size: 14px; 
}