{% extends 'base.html.twig' %}

{% block title %}Accueil - AirAtlantique{% endblock %}


{% block body %}
            
<link rel="stylesheet" href="/css/home.css" media="screen" type="text/css" />
            <div id="container">
            <nav>
                <div class="nav-wrapper white">
                    <a href="{{ path('home') }}"><img id="logo" width="150" src="\Images\logof.JPG"></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down white">
                        <li><a href="{{ path('reservation') }}" class="black-text"><i class="material-icons left red-text">flight_takeoff</i>ACHETER UN BILLET</a></li>
                        <li><a href="{{ path('client_connexion') }}" class="black-text"><i class="material-icons left red-text">perm_identity</i>MON COMPTE</a></li>
                        </ul>
                </div>
            </nav>

            <div id="div-carousel" class="lecarousel carousel carousel-slider" data-indicators="true">
                <a class="carousel-item" href="#one!"><img src="\images\paris.jpg"></a>
                <a class="carousel-item" href="#two!"><img src="\images\plane.jpg"></a>
                <a class="carousel-item" href="#three!"><img src="\images\montagne.jpg"></a>
            </div>
            
</div>

<script type="text/javascript">
$(document).ready(function(){
 
 $('#div-carousel').carousel();
 
  setInterval(function() {
 
    $('#div-carousel').carousel('next');
 
  },10000); 
  });
  
</script>

{% endblock %}

